/* styles.css */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navigation-container {
    width: 100%;
  }
  
  .fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* Các thuộc tính CSS khác cho navbar đã cuộn */
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .info-user {
    position: fixed;
    top: 50px; /* Để cho Navigation rộng 50px */
    left: 0;
    width: 300px;
    display: block;/* Đặt z-index thấp hơn để InfoUser nằm dưới Navigation */
  }
  /* Trong tệp CSS của bạn (ví dụ: styles.css) */
.menu {
  position: absolute;
  top: 100%; /* Đặt vị trí dưới thanh navbar */
  left: 0;
  width: 200px; /* Đặt kích thước của menu */
  background-color: #333; /* Màu nền của menu */
  border: 1px solid #555; /* Viền của menu */
  border-top: none; /* Loại bỏ viền phía trên */
  display: none; /* Mặc định là ẩn menu */
}

.menu.active {
  display: block; /* Hiển thị menu khi có class 'active' */
}
@media (max-width: 1023px) {
  .Product {
    justify-content: flex-start;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .Product {
    justify-content: space-between;
  }
}
.not-found-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-slideshow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.react-slideshow-container .nav {
    z-index: 10;
    position: absolute;
    cursor: pointer
}

.react-slideshow-container .nav:first-of-type {
    left: 0
}

.react-slideshow-container .nav:last-of-type {
    right: 0
}

.react-slideshow-container .default-nav {
    height: 30px;
    background: rgba(255, 255, 255, 0.6);
    width: 30px;
    border: 0;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
    background: #fff;
    color: #666;
    outline: 0
}

.react-slideshow-container .default-nav.disabled:hover {
    cursor: not-allowed
}

.react-slideshow-container .default-nav:first-of-type {
    margin-right: -30px;
    border-right: 0;
    border-top: 0
}

.react-slideshow-container .default-nav:last-of-type {
    margin-left: -30px
}

.react-slideshow-container+ul.indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px
}

.react-slideshow-container+ul.indicators li {
    display: inline-block;
    position: relative;
    width: 7px;
    height: 7px;
    padding: 5px;
    margin: 0
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator {
    border: 0;
    opacity: .25;
    cursor: pointer;
    background: transparent;
    color: transparent
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    content: '';
    background: #000;
    text-align: center
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container+ul.indicators .each-slideshow-indicator.active {
    opacity: .75;
    outline: 0
}

.react-slideshow-fadezoom-wrapper {
    width: 100%;
    overflow: hidden
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap>div {
    position: relative;
    opacity: 0
}

.react-slideshow-wrapper .react-slideshow-fade-images-wrap>div[aria-hidden='true'] {
    display: none
}

.react-slideshow-wrapper.slide {
    width:100%;
    overflow: hidden;
    height: 350px;
}

.react-slideshow-wrapper .images-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.react-slideshow-wrapper .images-wrap>div[aria-hidden='true'] {
    display: none
} 